@media screen and (max-width: 700px) {


}

/* Table css */

.container_internal{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container_external{
   display: flex;
   justify-content: space-between;
}
.table-container{
   height: calc(100vh - 235px);
   padding:10px;
}

.light-border{
       border: 1px solid #0000008c;
}
.list-group{
    max-height: 100%;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:0;
}

.list-group-item{
    background-color: #FAFAFA;
}

.table-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .20rem 1.2rem;
   border-bottom: 1px solid #0000008c;
   background-color: lightgrey;
   font-weight: bold;
}

.trash-exercise{
   color: red;
   font-weight: bold;
}

.edit-execise{
   color: green;
   font-weight: bold;
}

.show-exercise{
   color: #03a9f4;
   font-weight: bold;
}

.add-exercise{
   color:  white;
   font-weight: bold;
}

.button-container{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
