
a, a:hover {
    color: white;
    cursor: pointer;
}
/* CSS FOR Width */
.width-25{
   width: 25%;
 }
.width-50{
    width: 50%;
  }
  .width-75{
      width: 75%;
    }
/****** CSS FOR HEIGHT ******/
.height-50{
   height: 50%;
}

/*CSS FLEX*/
.flex-20{
   flex:20%;
}
.flex-30{
   flex:30%;
}
.flex-40{
   flex:40%;
}

.flex-60{
   flex:60%;
}
.flex-70{
   flex:70%;
}
/****** DEFAULT LAYAUT ******/

.label-link, .label-link:hover{
   cursor: pointer;
}
.icon{
   height: 30px;
   width: 30px;
   font-size: 20px;
}

.icon-table{
   height: 100%;
   width: 100%;
   font-size: 20px;
}

 #section-header{
    display: flex;
    align-items:  center;
    background-color: #6d6a6a;
    height: 30px;
}

#pageSectionName {
   display: block;
   padding-top: 1em ;
   padding-bottom: 1em;
   padding-left:1.5em;
}
#pageSectionName span{
   font-size: 1.2em;
   color:white;
   font-weight: bold;
   text-transform: uppercase;
}
#side {
   flex: 10%;
   background-color: #2e2f2f;
 }
/****** MAIN COLUMN ******/
#main {
  flex: 88%;
  height: 100%;
  background-color: white;

}

.main-content-container{
   width: 100%;
   height: 100%;
}

/*Dropdown menus*/
   /* Style The Dropdown Button */
   .dropbtn {   
      color: white;
      padding: 16px;
      font-size: 1.1rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block !important;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      right:0;
      background-color: #f9f9f9;
      border-radius:  0.8rem;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
       font-weight: bold;
       background-color: #cfcfcf;
       border-radius: 1rem;
      }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
      margin:0px;
      
    }
    
  
/*CSS FOR FORM */

/*hide feedback*/
.feedback{
   display:block;
   visibility: hidden;
   position: relative;
   top: 4px;
   left: 2px;
   font-size: 0.8rem;
   color: #bf2d2d;
}

.label-input{
   font-size: 1.2rem;
   font-weight: 400;
}

/*END CSS for Form*/
/****** FOoTER ******/
.footer{
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
   height: 80px;
   background-color: #212529;
   color: white;
}
.footer-section{
   margin-top: 15px;
}
.left-footer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 25%;
   margin-left: 20px;
   padding-right: 30px;
   border-right: 1px solid lightgrey;
}
.left-footer p {
   margin-bottom:0px;
   text-align: center;
}
.right-footer p{
   margin-bottom: 0px;
}
.right-footer{
   display: flex;
   flex-direction: column;
   width: 70%;
   margin-right: 20px;

}
/*END FOOTER*/
#image-background{
   background-image: url(/images/bigMuscle.png);
   background-size: contain;
   background-repeat: no-repeat;
   padding-left: 20px;
   flex : 15%;
}




.log-containers{
   display: flex;
   justify-content: flex-end;
   margin-left: auto;
   flex : 6%;
}

.list-group-menu{
   overflow: inherit !important;
}

a.navigation:hover, a.navigation:active {
   background: lightgrey;
   border: solid 1px;
   border-radius: 10px;
}

/****** COLUMN CONTAINER ******/
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}
.column{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   margin: 0px;
}
.nav-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  margin: 0px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  background-color: #212529;
}

.text-bold{
   font-weight: 700;
   text-shadow: 1px 2px 3px black;
}
.hide-text{
   display:none;
}


/*TOOLTIP css*/
.tooltip-inner {
    background-color: #79a6d2;
}
/*END TOOLTIP css*/

/*CSS For Modal Window*/

.modal-header-text{
   display: flex;
   justify-content: center;
   align-items: center;
}


.infoContainer{
   margin-top: 5px;
}

.modal-lg{
   max-width: 60%;
}

.form-group-element{
   margin-bottom: 1.4em;
   margin-top: 1.2em;
 }
/*SHOW-MODAL CSS*/
.show-left-title{
   float:left;
}

/******CSS CARD *******/
.div-card{
   border: 1px solid #0000002a;
   border-radius: 2px;
   box-shadow: 0px 10px 21px #aaaaaa;
   padding: 10px;
}
/******CSS UTILITY ******/
.text-size-small{
   font-size:0.8rem;
}

.text-size-medium{
   font-size:1rem;
}

.a-i-center{
   display: flex;
   align-items: center;
}

.center-centered{
   display: flex;
   justify-content: center;
   align-items: center;
}

.start-centered{
   display: flex;
   justify-content: start;
   align-items: center;
}

.j-c-between{
   display:flex;
   justify-content: space-between;
}
.center{
   display: flex;
   justify-content: center;
}

.start-centered{
   display:flex;
   justify-content: start;
   align-items: center;
   margin: 0;
}
.hide{
   display: none;
}

.show{
   display: initial;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
   .row{
     flex-direction: column;
   }
   .icon{
      height: 25px;
      width: 25px;
      font-size: 15px;
      color: white;
   }
   .text-size-small{
      font-size:0.6em;
   }
 
 .hide-meta{
       display: none;
    }
 
 /*DEFAULT LAYOUT META*/
    #main{
       flex: 88%;
       background-color: white;
    }
 
    .home-link{
          display:flex;
          justify-content: center;
          margin: 0px;
    }
 
    .navbar-brand{
       width: 30px;
       height: 30px;
    }
    
    #pageSectionName {
      display: block;
      padding-top: 1em ;
      padding-bottom: 1em;
      padding-left:1em;
   }
   #pageSectionName span{
      font-size: 0.9em;
      color:white;
      font-weight: bold;
      text-transform: uppercase;
   }
 
    /*Dropdown menus*/
    /* Style The Dropdown Button */
 .dropbtn { 
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block !important;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    right: -77;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 1rem;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    font-weight: bold;
    background-color: #cfcfcf;
    border-radius: 0.8rem;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 1rem;
  }
  
 
 
 /*Footer*/
    .footer{
       height:60px !important;
    }
    .footer-section{
       margin-top: 8px!important;
    }
    .left-footer {
       display: flex;
       width: 30%;
       flex-direction: column;
       justify-content: center;
       margin-left: 5px;
       padding-right: 5px;
       border-right: 1px solid lightgrey;
    }
 
 
    .right-footer{
       display: flex;
       flex-direction: column;
       width: 65%;
       justify-content: center;
       margin-right: 5px;
       margin-left: 5px;
       }
 
 }
    /******   END MEDIA QUERY  ******/
 
 