
.view{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.register-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    padding: 15px;

}

.register-header {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 15px;
    padding: 10px;
}

#registerForm label{
    font-size: 1.2rem;  
}
.label-input{
    font-size: 1.2rem;
    font-weight: 400;
}

/*hide feedback*/
.feedback{
    display:none;
    position: relative;
    top: 4px;
    left: 2px;
    font-size: 0.8rem;
    color: #bf2d2d;
}
