/* The snackbar - position it at the right and in the middle of the screen */
.snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-height: 30px;/* Set a default minimum height */
  min-width: 120px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  padding: 10px 15px 10px 15px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  top:60px;
  right: 15px; /* 30px from the right */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.operationSuccess {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  background-color: #33ff33; /* Green background color */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.snackbar.operationFailed {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
   background-color: #ff1a1a; /* Red background color */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 15px; opacity: 1;}
}

@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 15px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {right: 15px; opacity: 1;}
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 15px; opacity: 1;}
  to {right: 0; opacity: 0;}
}
